body {
  background: url("../img/Stormy-Weather-Saguaro-Cactus.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover; }
  body.raining {
    background: url("../img/raining.jpeg") no-repeat center center fixed; }
  body.cloudy {
    background: url("../img/cloudy.jpg") no-repeat center center fixed; }
  body.sunny {
    background: url("../img/sunny.jpg") no-repeat center center fixed; }
  body.snow {
    background: url("../img/snowing.jpg") no-repeat center center fixed; }
  body.thunderstorm {
    background: url("../img/thunderstorm.jpg") no-repeat center center fixed; }

div#container {
  margin: 0px auto; }
  div#container h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    color: #ddd;
    text-shadow: 3px 2px #222;
    margin-top: 200px; }
    div#container h1.top {
      margin-top: 20px;
      -webkit-transition: all 1s; }
  div#container .jumbotron {
    padding-top: 18px;
    padding-bottom: 18px;
    margin-bottom: 0px;
    background-color: inherit; }
  div#container .weather.row {
    background: rgba(255, 255, 255, 0.7);
    display: none;
    width: 80%;
    margin: 40px auto 70px auto; }
    div#container .weather.row .dailyForecast {
      font-weight: bold;
      text-align: center;
      padding: 30px 10px;
      border: 1px solid #DDD; }
      div#container .weather.row .dailyForecast span.temperature {
        padding-left: 10px; }
      div#container .weather.row .dailyForecast .simple {
        font-weight: normal; }
  div#container ul#citiesList {
    width: 80%;
    margin: 40px auto 70px auto;
    list-style: none; }
    div#container ul#citiesList li {
      border-radius: 0px;
      font-weight: bold;
      background: rgba(255, 255, 255, 0.7);
      float: left;
      width: 50%; }
      div#container ul#citiesList li.hovering {
        cursor: pointer; }

#header {
  text-align: center; }

form#searchCity {
  width: 250px;
  margin: 0px auto; }
